* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
  background: transparent;
}
/* header properties */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  width: 100%;

  background-color: rgb(26, 30, 31);
  transition: background-color 0.5s ease;
  height: 84px;
  z-index: 50;
}
/* transparent class  */
.transparent {
  background-color: #222222f2;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 14px;
  height: 100%;
  width: 100%;
  margin-right: 5px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 0.96rem;
  font-family: sans-serif;
  transition: ease 0.4s;
}
nav ul li a:hover {
  color: #00a3e0;
}
nav div {
  padding: 0px 5px;
}
nav p {
  text-align: right;
  line-height: 26px;
  display: inline-block;
  padding-right: 20px;
}
/* sidebar styles */
.toggle-btn {
  display: none;
  background-color: rgb(26, 30, 31);
  color: #f4f4f4;
  border: none;
}
.close-btn {
  display: none;
  background-color: rgb(26, 30, 31);
  color: #f4f4f4;
  border: none;
  position: absolute;
  top: 35px;
  right: 20px;
}
/* Description styles */
.description-title {
  background-image: url("cover-image.webp");
  object-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 352px;
  display: flex;
  align-items: center;
}
.description-title h3 {
  font-size: 42px;
  line-height: 1.6em;
  color: #f4f4f4;
  position: absolute;
  left: 184px;
  top: 171px;
}
.description-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  padding: 10px 185px;
}
.desc-main {
  margin-top: 50px;
}
.desc-main p {
  color: #f4f4f4;
  font-size: 31px;
  line-height: 2.7rem;
}
.desc-link {
  margin: 45px 0;
  padding-bottom: 10px;
}
.desc-link a {
  text-decoration: none;
  color: #00aef3;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.4s ease;
}
.desc-link a:hover {
  color: grey;
}
/* card section styles */
.card-section-container {
  background-color: rgba(22, 22, 22, 1);
  padding: 15px 185px 55px 185px;
}
.card-section-title {
  color: #f4f4f4;
}
.card-section-title h2 {
  margin: 15px 0 65px 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 25px;
}
.card {
  color: #f4f4f4;
  border: 1px #f4f4f459 solid;
  border-radius: 7px;
  overflow: hidden;
  width: min-content;
  height: 405px;
}
.card-content {
  padding-left: 25px;
}
.card-img {
  margin-bottom: 34px;
}
.card-title {
  margin-bottom: 25px;
  font-size: 19px;
}
.card-text {
  margin-bottom: 95px;
  font-size: 16px;
}
.card-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 29px;
}
.card-link a {
  text-decoration: none;
  font-size: 17px;
  color: #00aeef;
  transition: color 0.4s ease-in-out;
}
.card-link a:hover {
  color: #00afefa8;
}
.link-svg {
  padding-top: 5px;
  color: #00aeef;
}
/* partners section styles  */
.partners-section {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}
.partners-title {
  color: #f4f4f4;
  margin: 40px 0 40px 0;
  padding-left: 185px;
}

.carousel {
  display: flex;
  align-items: center;
  height: 224px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.slide-img {
  /* width: 100%; */
  text-align: center;
}

.slide-img img {
  max-width: 100%;
  height: auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #f4f4f4;
}
.carousel-btn:hover {
  color: #f4f4f47c;
}
.carousel-btn-left {
  top: 58%;
  left: 120px;
}
.carousel-btn-right {
  top: 58%;
  right: 120px;
}
.slide-dots {
  position: absolute;
  left: 49%;
  top: 83%;
}
.slide-dots ul {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-right: 5px;
}
.slide-dots ul li {
  list-style: none;
}
.slide-dots ul li a {
  text-decoration: none;
  color: #f4f4f4;
}
/* questions section */
.accordion-container {
  max-width: 890px;
  margin: 20px auto;
}
.questions-section {
  background-color: #161616;
  padding-top: 85px;
  padding-bottom: 55px;
}
.questions-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
.questions-title h1 {
  color: #f4f4f4;
}
.questions-title a {
  color: #00aef3;
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}
.questions-title a:hover {
  color: #f8f6faa1;
}
.accordion-wrapper {
  color: #f4f4f4;
}
.accordion {
  margin-bottom: 25px;
  cursor: pointer;
  border-bottom: 1px solid #f4f4f41c;
}
.accordion.active .accordion-heading i {
  transform: rotate(180deg);
}
.accordion.active .accordion-content {
  max-height: 1000px; /* Adjust this value to a sufficiently large value */
  visibility: visible;
}
.accordion-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.accordion-heading p {
  font-size: 20px;
}
.accordion-heading i {
  font-size: smaller;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  padding-top: 30px;
  transition: max-height 0.1s ease-in-out, visibility 0.1s ease-in-out;
  animation: animate 0.2s linear backwards;
  transform-origin: bottom;
  visibility: hidden;
}
.accordion-content-heading {
  padding-top: 29px;
  padding-bottom: 38px;
  font-size: 15px;
}
.accordion-content-text {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 26px;
}
.accordion-content p {
  padding-bottom: 35px;
}
.accordion-content-footer {
  margin-top: 40px;
  padding-bottom: 35px;
}
.all-questions-bottom {
  display: none;
  color: #00aef3;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  margin: 0px auto;
  transition: color 0.3s ease-in-out;
}
.all-questions-bottom:hover {
  color: #f8f6faa1;
}
@keyframes animate {
  0% {
    transform: scaleY(0);
  }
}
/* SMALL SCREENS */
@media only screen and (max-width: 700px) {
  /* site header properties */
  .logo {
    position: absolute;
    top: 21px;
    left: 23px;
  }
  .site-header {
    /* flex properties */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position property */
    position: fixed;
    width: 100%;
    height: 84px;
  }

  .dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 30, 31);
    z-index: 49;
  }

  .dropdown-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    width: 60%;
    z-index: 52;
  }
  .toggle-btn {
    display: block;
    cursor: pointer;
  }
  .close-btn {
    display: block;
    cursor: pointer;
  }
  nav {
    position: absolute;
    top: 35px;
    right: 25px;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }
  nav ul li {
    margin-bottom: 10px;
  }
  nav ul li:nth-of-type(1) {
    margin-top: 43px;
  }
  /* description section properties */
  .description-title {
    background-position-x: center;
  }
  .description-title h3 {
    position: static;
    margin-left: 20px;
  }
  .description-text {
    padding: 10px 35px;
  }
  .desc-main p {
    font-size: 23px;
    line-height: normal;
  }
  /* card section properties  */
  .card-section-container {
    padding: 15px 0 55px 0;
  }
  .card-section-title h2 {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .cards {
    justify-content: center;
  }
  /* carousel properties */
  .partners-title {
    padding-left: 34px;
  }
  .carousel-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .slide-img img {
    max-width: 92%;
  }
  .carousel-btn {
    display: none;
  }
  .slide-dots {
    top: 93%;
    left: 45%;
  }
  /* questions section properties */
  .questions-title a {
    display: none;
  }
}
@media (max-width: 346px) {
  .description-title h3 span {
    font-size: 2rem;
  }
  .dropdown-menu.active {
    width: 70%;
  }
  /* card section properties  */
  .card-img img {
    width: 270px;
  }
  /* carousel properties  */
  .partners-title h2 {
    font-size: 18px;
  }
  /* questions section properties */
  .questions-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .questions-title a {
    display: none;
  }
  .all-questions-bottom {
    display: block;
  }
}
